* {
	margin: 0;
	padding: 0;
}

body {
	color: #16552f;
	background-color: #53f1cb;
	font-family: "Poppins", sans-serif;
	text-align: center;
	/* justify-content: center; */
	margin: 0 auto;
	width: 80vw;
}

#date {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

.header {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.paragraph {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.plant-container {
	justify-content: center;
}

.plant-list {
	display: block;

	/* align-items: center;	 */
}

.plant {
	/* display: flex; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr ;
	grid-template-rows: repeat(3, 1fr);
	/* grid-template-areas:
		"pic plantname plantname plantname buttons bin"
		"pic info info info buttons ."
		"pic info info buttons ."; */
	background: #fff8e5;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-radius: 5px;
	column-gap: 20px;
	box-sizing: border-box;
	
	
}

.image-plant {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	width: 10rem;
	height:100%;
    width: auto;
	
	border-radius: 5px;
}

.plant-name {
	grid-column-start: 2;
	grid-column-end: 4;
	margin-top: 1rem;
	font-size: 2em;
	text-align: left;
}


.info-text {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	text-align: left;
	font-size: 0.8em;

	/* text-align: left; */
}

.todo-buttons {
	grid-column-start: 5;
	grid-column-end: 7;
	/* grid-row-start: 1;
	grid-row-end: 4; */
	/* justify-self: stretch; */
	/* width: 12rem;
	height: 3rem; */
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 1em;
	background-color: #16552f;
	color: #fff8e5;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	
}

.bin-btn {
	grid-column-start: 7;
	grid-column-end: 8;
	height: 30px;
	line-height: 30px;
	width: 30px;
	border-radius: 50%;
	border: none;
	background-color: #16552f;
}

#form-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"image name name button"
		"image description description button"
		"image description description .";
	gap: 8px;
	width: 800px;
	padding: 40px 0;
}

.image-input {
	grid-area: image;
	width: 110px;
	justify-self: end;
	border: none;
	border-radius: 5px;
	background-color: #fff8e5;
}

.name-input {
	grid-area: name;
	width: auto;
	justify-self: stretch;
	background-color: #fff8e5;
	border-radius: 5px;
	border: none;
}

.description-input {
	grid-area: description;
	width: auto;
	justify-self: stretch;
	background-color: #fff8e5;
	border-radius: 5px;
	border: none;
}

.submit-button {
	grid-area: button;
	align-self: start;
	height: 70px;
	line-height: 70px;
	width: 70px;
	border-radius: 50%;
	border: none;
	background-color: #16552f;
	margin-left: 15px;
}

#btn-icon {
	color: #fff8e5;
	font-size: 38px;
	padding-top: 15px;
}

.description-input::placeholder {
	font-family: "Poppins", sans-serif;
	color: #16552f;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 12px;
}

.name-input::placeholder {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: #16552f;
	padding-left: 10px;
}
